*{
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
    border-radius: 10px;
}

:root {
    --main-color: #6CA2EA;
    --support-color: #B5D33D;
}

.header {
    display: flex;
    height: 60px;
    padding: 10px;
    margin-bottom: 15px;
    align-items: center;
    background: black;
}

.header h1 {
    color: white;
    text-align: center;
    margin: auto;
    transform: translate(50%);
}


.container {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hint {
    background: black;
    height: 100%;
    width: 100%;

    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: monospace;
    text-align: left;

    margin-right: 10px;
}


.hint h2 {
    text-align: center;
}

.game {
    background: black;
    height: 100%;
    flex-direction: column;
}

.stats {
    color: white;
    background: black;
    height: 100%;
    width: 100%;
    margin-left: 10px;

    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: left;
}

.stats h2 {
    text-align: center;
}

.stats p {
    margin-left: 10%;
}

.center-element{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.fancy-button {
    color: black;
    background: white;
    display: inline-block;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
    border: none;
}

.fancy-button:hover {
    cursor: pointer;
    background: white;
    opacity: 0.9;
}

.gameover {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: none;
    background: black;
    height: 500px;
    width: 500px;

    border: 5px solid white;

    color: white;
    align-items: center;
    font-family: monospace;
    text-align: left;
    margin-right: 10px;
}

.gameover h1 {
    text-align: center;
}

.gameover table {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.show {
    display: block;
}
/*.scale {*/
/*    transform: scale(3.0);*/
/*}*/
